---
import TextureFilter from "../TextureFilter.astro";
import Article from "./Article.astro";

const { title, image, description, github, page } = Astro.props;
---

<header>
    <div class="image">
        <TextureFilter src={image} transition=`projects-${title}` />
    </div>
    <div>
        <Article>
            <h1> { title } </h1>
            <p> { description } </p>
        </Article>
        {
            !!github && 
            (<a href={ github } class="large__button large__button--transparent" target="_blank">
                <ion-icon name="logo-github"></ion-icon>
                Github
            </a>)
        }
        {
            !!page && 
            (<a href="https://github.com/arimakey" class="large__button large__button--transparent" target="_blank">
                <ion-icon name="logo-github"></ion-icon>
                Github
            </a>)
        }
    </div>
</header>


<style>
    header {
        width: calc(100% - 6rem);
        display: grid;
        grid-template-columns: repeat(4, 25%);
        gap: 2rem;
    }

    .image {
        grid-column: span 3;
    }

    
</style>