<div class="newspaper">
    <slot />
</div>


<style>
    .newspaper {
        display: flex;
        flex-direction: column;
        gap:4rem;
    }

    .newspaper .article {
        display: flex;
        flex-direction: row;
        gap:4rem;
    }

    .newspaper h1 {
        font-size: small;
    }
</style>
    