---
    import "../../styles/global.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title__name">ARIMA</h1>
            <div class="header__title_subtitle">
                <p class="header__title__subtitle__date">2024</p>
                <h2 class="header__title_subtitle__profession">software engineering</h2>
            </div>
        </div>
        <hr>
        <div class="header__description">
            <article class="header__description__about">
                <p>Hello! I'm Arima, a passionate software engineering student with a particular interest in the world of ethical hacking and computer security. My goal is to explore the complexities of cyberspace and contribute to a safer and more robust online environment.</p>
            </article>
            <nav class="header__description__social">
                <a href="https://www.instagram.com/arimakey" class="large__button" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                </a>
                <a href="https://github.com/arimakey" class="large__button large__button--transparent" target="_blank">
                    <ion-icon name="logo-github"></ion-icon>
                    Github
                </a>
            </nav>
        </div>        
    </header>
    
    <main>
        <section class="technologies">
            <div class="technologies__container">
                <h3 class="technologies__title">Technologies</h3>
                <div class="technologies__container__element technologies__container__element--right">
                    <h4 class="technologies__container__element__title">
                        Web
                        <br>
                        <span class="technologies__container__element__title--effect">TECHNOLOGIES</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:html5"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:css3"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:javascript"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:tailwind-css"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:react"></i></li>
                        <li class="icons"><i class="iconify" data-icon="ri:nextjs-fill"></i></li>
                        
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--left">
                    <h4 class="technologies__container__element__title">
                        Software
                        <br>
                        <span class="technologies__container__element__title--effect">DEPLOYMENT</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:c-plus-plus"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:java"></i></li>
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--right">
                    <h4 class="technologies__container__element__title">
                        Deployment and
                        <br>
                        <span class="technologies__container__element__title--effect">VERSION CONTROL</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:heroku"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:docker"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:git"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:github"></i></li>
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--left">
                    <h4 class="technologies__container__element__title">
                        Scripting
                        <br>
                        <span class="technologies__container__element__title--effect">AUTOMATIZATION</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="codicon:terminal-bash"></i></li>
                    </ul>
                </div>
                <hr class="technologies__container__element--end">
            </div>
            <div class="color-filter technologies__image__container">
                <img class="technologies__image image" src="https://i.ibb.co/pwsmPFT/image.png" alt="image">
            </div>
        </section>
        <section class="proyects">
            <h3 class="proyects__title">
                Proyects
            </h3>
            <div class="proyects_content">
                <article class="proyect_content_element proyect_content_element--first">
                    <div class="color-filter proyect_content_element__image">
                        <img class="image" src="https://i.blogs.es/08fb71/mashle/1366_2000.png" alt="">
                    </div>
                    <h4 class="proyect_content_element__title">Peertok</h4>
                </article>
                <article class="proyect_content_element proyect_content_element--second">
                    <div class="color-filter proyect_content_element__image">
                        <img class="image" src="https://cdn.vox-cdn.com/thumbor/UixJG8lZQVN9qI6pBcxprYOsWeA=/0x0:1920x1080/1200x800/filters:focal(807x387:1113x693)/cdn.vox-cdn.com/uploads/chorus_image/image/68876614/26355890.6.jpeg" alt="">
                    </div>
                    <h4 class="proyect_content_element__title">Peertok</h4>
                </article>
                <article class="proyect_content_element proyect_content_element--third">
                    <div class="color-filter proyect_content_element__image">
                        <img class="image" src="https://img.asmedia.epimg.net/resizer/v2/X2ZLOYGYGRH2BA5JRTF3NUU3CY.jpg?auth=a082e82cf56097935efc3cf148e8fbf039d460c4f909f5c933623ed3891361df&width=360&height=203&smart=true" alt="">
                    </div>
                    <h4 class="proyect_content_element__title">Peertok</h4>
                </article>
                
            </div>
        </section>
    </main>
</body>
</html>