---
import TextureFilter from "../../components/TextureFilter.astro"
import Layout from "../../layouts/Layout.astro"
import "../../styles/global.css"
import first_project from '../../resources/images/peertok.png'
import second_project from '../../resources/images/soon_proyect_0.gif'
import third_project from '../../resources/images/soon_proyect_1.gif'

import technologies_image from '../../resources/images/technologies_image.png'

---
<Layout title="Arimakey" description="Portfolio page">
    <header class="header">
        <div class="header__description">
            <article class="header__description__about">
                <p>Hello! I'm Arima, a passionate software engineering student with a particular interest in the world of ethical hacking and computer security. My goal is to explore the complexities of cyberspace and contribute to a safer and more robust online environment.</p>
            </article>
            <div class="header__description__social">
                <a href="https://www.instagram.com/arimakey" class="large__button" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                </a>
                <a href="https://github.com/arimakey" class="large__button large__button--transparent" target="_blank">
                    <ion-icon name="logo-github"></ion-icon>
                    Github
                </a>
            </div>
        </div>
        <style>
            .header__description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 2rem;
            }

            .header__description__social {
                width: 64rem;
                display: flex;
                flex-direction: row;
                gap: 12px;
                width: 100%;
            }

            .header__description__about {
                color: var(--primary-color);
                padding-right: 0rem;
            }

            @media only screen and (min-width: 480px) {
                .header__description {
                    gap: 1rem;
                }

                .header__description__social {
                    width: 100%;
                    flex-direction: column;
                }

                .header__description__about {
                    padding-right: 1rem;
                }
            }

            @media only screen and (min-width: 768px) {
                .header__description__social {
                    min-width: 15rem;
                    max-width: 15rem;
                }
                .header__description {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        </style>     
    </header>
    <section class="technologies">
        <div class="technologies__container">
            <h3 class="technologies__title">Technologies</h3>
            <div class="technologies__container__element technologies__container__element--right">
                <h4 class="technologies__container__element__title">
                    Web
                    <br>
                    <span class="technologies__container__element__title--effect">TECHNOLOGIES</span>
                </h4>
                <ul class="technologies__container__element__icons">
                    <li class="icons"><i class="iconify" data-icon="bxl:html5"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:css3"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:javascript"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:tailwind-css"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:react"></i></li>
                    <li class="icons"><i class="iconify" data-icon="ri:nextjs-fill"></i></li>
                    
                </ul>
            </div>
            <div class="technologies__container__element technologies__container__element--left">
                <h4 class="technologies__container__element__title">
                    Software
                    <br>
                    <span class="technologies__container__element__title--effect">DEPLOYMENT</span>
                </h4>
                <ul class="technologies__container__element__icons">
                    <li class="icons"><i class="iconify" data-icon="bxl:c-plus-plus"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:java"></i></li>
                </ul>
            </div>
            <div class="technologies__container__element technologies__container__element--right">
                <h4 class="technologies__container__element__title">
                    Deployment and
                    <br>
                    <span class="technologies__container__element__title--effect">VERSION CONTROL</span>
                </h4>
                <ul class="technologies__container__element__icons">
                    <li class="icons"><i class="iconify" data-icon="bxl:heroku"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:docker"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:git"></i></li>
                    <li class="icons"><i class="iconify" data-icon="bxl:github"></i></li>
                </ul>
            </div>
            <div class="technologies__container__element technologies__container__element--left">
                <h4 class="technologies__container__element__title">
                    Scripting
                    <br>
                    <span class="technologies__container__element__title--effect">AUTOMATIZATION</span>
                </h4>
                <ul class="technologies__container__element__icons">
                    <li class="icons"><i class="iconify" data-icon="codicon:terminal-bash"></i></li>
                </ul>
            </div>
            <hr class="technologies__container__element--end">
        </div>
        <div class="technologies__image__container">
            <TextureFilter src={technologies_image.src} />
        </div>

        <style>
        .technologies {
            margin: 6rem 0rem;
        }

        .technologies__title {
            margin-bottom: 0rem;
            color: var(--contrast-text);
            background-color: var(--primary-color);
            font-size: 1rem;
            text-align: center;
            padding: 0.5rem 1rem;
        }

        .technologies__container {
            width: 100%;
        }

        .technologies__image__container {
            display: none;
        }

        .technologies__container__element {
            border-width: 3px 0px 0px 0px;
            border-color: var(--primary-color);
            border-style: solid;
            color: var(--primary-color);
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        .technologies__container__element--right {
            border-width: 3px 3px 0px 0px;
        }

        .technologies__container__element--left {
            flex-direction: row-reverse;
            text-align: end;
            border-width: 3px 0px 0px 3px;
        }

        .technologies__container__element--end {
            margin: 0rem;
            height: 1px;
        }

        .technologies__container__element__icons {
            display: grid;
            grid-template-columns: repeat(4, minmax(1rem, 1.5rem));
            grid-auto-flow: row;
            align-items: center;
            gap: 0.5rem;
            font-size: 10px;
        }



        .technologies__container__element__title {
            align-self: center;
            font-size: 1rem;
            font-family: "Rosario", sans-serif;
            font-style: italic;
        }

        .technologies__container__element__title--effect {
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-style: normal;
            font-weight: 900;
        }
        .icons {
            font-size: 1.6rem;
        }


        @media only screen and (min-width: 540px) {
            .technologies__title {
                width: 100%;
                font-size: 1.5rem;
            }
            .technologies__container__element__title {
                font-size: 1.5rem;
            }
            .technologies__container__element__icons {
                display: grid;
                grid-template-columns: repeat(4, minmax(1rem, 1.5rem));
                grid-auto-flow: row;
                align-items: center;
                gap: 0.5rem;
                font-size: 10px;
            }
            .technologies__container__element__icons {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            .icons {
                font-size: 2rem;
            }
        }

        @media only screen and (min-width: 768px) {
            .technologies {
                display: flex;
                flex-direction: row;
                gap: 1rem
            }
            .technologies__title {
                padding: 0.8rem;
                width: 60%;
                font-size: 1.5rem;
            }
            .technologies__container__element__title {
                font-size: 1.5rem;
            }

            .technologies__image__container {
                display: block;
                width: 239px;
                height: 465px;
                overflow: hidden;
            }

            .technologies__image {
                max-height: 100%;
                overflow: hidden;
                clip-path: polygon(0% 0%, 80% 0%, 100% 20%, 100%, 100%, 80%, 20%) ;
            }

            .technologies__container {
                width: 80%;
            }
            .icons {
                font-size: 2.5rem;
            }
        }
        </style>
    </section>

    <section class="proyects">
        <h3 class="proyects__title">
            Projects
        </h3>
        <div class="proyects_content">
            <article class="proyect_content_element proyect_content_element--first">
                <div class=" proyect_content_element__image">
                    <TextureFilter src={first_project.src}/>
                </div>
                <h4 class="proyect_content_element__title">Peertok</h4>
            </article>
            <article class="proyect_content_element proyect_content_element--second">
                <div class=" proyect_content_element__image">
                    <TextureFilter src={second_project.src}/>
                </div>
                <h4 class="proyect_content_element__title">SOON</h4>
            </article>
            <article class="proyect_content_element proyect_content_element--third">
                <div class=" proyect_content_element__image">
                    <TextureFilter src={third_project.src}/>
                </div>
                <h4 class="proyect_content_element__title">SOON</h4>
            </article>
        </div>
        <style>
            .proyects__title {
                margin-bottom: 0rem;
                width: 100%;
                color: var(--contrast-text);
                background-color: var(--primary-color);
                text-align: center;
                font-size: 1rem;
                padding: 0.5rem 0rem;
            }

            .proyects_content {
                width: 100%;
                
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 40% 35% 25%;
                gap: 1rem;
                justify-items: stretch;
                align-items: stretch;
                
                height: 60rem;
            }

    
            .proyect_content_element {
                position: relative;
            }

            .proyect_content_element__image{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .proyect_content_element__title {
                position: absolute;
                bottom: 1rem;
                right: 1rem;
                color: var(--contrast-text);
                font-family: "Libre Barcode 39 Text", system-ui;
                font-size: 3rem;
                font-weight: 500;
                font-style: normal;
                text-shadow: 0 0 10px var(--glow-color);
            }

            @media only screen and (min-width: 480px) {
                .proyects__title {
                    font-size: 1.5rem;
                }
            }

            @media only screen and (min-width: 768px) {
                .proyects__title {
                    font-size: 1.5rem;
                    padding: 1rem 0rem;
                }
                .proyects_content {
                    width: calc(100% - 1rem);
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 55% 45%;
                    gap: 1rem;
                    justify-items: stretch;
                    align-items: stretch;
                    height: 35rem;
                }
                .proyect_content_element--first {
                    grid-row: span 2;
                }
            }
        </style>
    </section>
</Layout>