---
    import "../../styles/global.css"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title__name">ARIMA</h1>
            <div class="header__title_subtitle">
                <p class="header__title__subtitle__date">2024</p>
                <h2 class="header__title_subtitle__profession">software engineering</h2>
            </div>
        </div>
        <hr>
        <div class="header__description">
            <article class="header__description__about">
                <p>Hello! I'm Arima, a passionate software engineering student with a particular interest in the world of ethical hacking and computer security. My goal is to explore the complexities of cyberspace and contribute to a safer and more robust online environment.</p>
            </article>
            <nav class="header__description__social">
                <a href="https://www.instagram.com/yourusername" class="large__button" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                </a>
                <a href="https://github.com/yourusername" class="large__button large__button--transparent" target="_blank">
                    <ion-icon name="logo-github"></ion-icon>
                    Github
                </a>
            </nav>
        </div>        
    </header>
    
    <main>
        <section class="technologies">
            <div class="technologies__container">
                <h3 class="technologies__title">Technologies</h3>
                <div class="technologies__container__element technologies__container__element--right">
                    <h4 class="technologies__container__element__title">
                        Web
                        <br>
                        <span class="technologies__container__element__title--effect">TECHNOLOGIES</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><ion-icon name="logo-html5"></ion-icon></li>
                        <li class="icons"><ion-icon name="logo-css3"></ion-icon></li>
                        <li class="icons"><ion-icon name="logo-javascript"></ion-icon></li>
                        <li class="icons"><ion-icon name="logo-react"></ion-icon></li>
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--left">
                    <h4 class="technologies__container__element__title">
                        Deployment and
                        <br>
                        <span class="technologies__container__element__title--effect">VERSION CONTROL</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><ion-icon name="logo-docker"></ion-icon></li>
                    </ul>
                </div>

                <hr class="technologies__container__element--end">
            </div>
            <img class="technologies__image" src="https://i.ibb.co/pwsmPFT/image.png" alt="image">
        </section>
        
    </main>
</body>
</html>