---
	const today = new Date();
---

<footer class="footer" transition:name="footer">
	<hr>
	<div class="footer__main">
		&copy; {today.getFullYear()} Created by Arimakey.
		<div class="footer__main__redes">
			Arimakey
		</div>
	</div>
</footer>
<style>
	hr {
		margin: 7rem 0rem 2rem 0rem;
	}

	.footer__main {
		align-items: center;
		padding: 0rem 0rem;
		
		font-size: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	@media only screen and (min-width: 768px) {
		.footer__main {
			padding: 0rem 2rem;
			font-size: 1rem;
		}
	}

</style>
