---
import TextureFilter from "./TextureFilter.astro"
const { title, content, img, slug, on } = Astro.props

---
<a class=`${on == "true" ? "highlight" : "card"} ` href={ slug }>
    <div class="card__text">
        <h1>{ title }</h1>
        <div class="truncate">
            <p> { content }</p>
        </div>
    </div>
    <div class="card__image">
        <TextureFilter src={ img } transition=`projects-${title}` />
    </div>
</a>


<style>
    .card {
        height: auto;
        border: solid var(--primary-color);
        border-width: 0.5rem 0rem 0rem 0rem;
        background-color: var(--secundary-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .highlight {
        height: auto;
        border: solid var(--primary-color);
        border-width: 0.5rem 0rem 0rem 0rem;
        background-color: var(--third-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }



    p {
        font-size: 14px;
        height: 4rem;
        overflow: hidden;
    }

    .card__text {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card__image {
        height: 16rem;
        
    }

    h1 {
        
        text-align: center;
    }
</style>