---
import first_project from '../resources/images/peertok.png'
import second_project from '../resources/images/soon_proyect_0.gif'
import third_project from '../resources/images/soon_proyect_1.gif'
import Project from './Project.astro'

---
<section class="proyects">
    <h3 class="proyects__title">
        Projects
    </h3>
    <div class="proyects_content">
        <div class="proyect_content_element--first">
            <Project image={first_project}  title="astro" />
        </div>
        <Project image={second_project}  title="none" />
        <Project image={third_project}  title="none" />
    </div>
</section>

<style>
    .proyects__title {
        margin-bottom: 0rem;
        width: 100%;
        color: var(--contrast-text);
        background-color: var(--primary-color);
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem 0rem;
    }

    .proyects_content {
        width: 100%;
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 35% 25%;
        gap: 1rem;
        justify-items: stretch;
        align-items: stretch;
        
        height: 60rem;
    }

    .large__button--glow {
        box-shadow: 0 0 20px var(--glow-color);
        width: 14rem;
        transition: opacity 0.25s ease-out;
        opacity: 0;
    }


    @media only screen and (min-width: 480px) {
        .proyects__title {
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .proyects__title {
            font-size: 1.5rem;
            padding: 1rem 0rem;
        }
        .proyects_content {
            width: calc(100% - 0.15rem);
            grid-template-columns: 50% 50%;
            grid-template-rows: 55% 45%;
            gap: 0.2rem;
            justify-items: stretch;
            align-items: stretch;
            height: 35rem;
        }
        .proyect_content_element--first {
            grid-row: span 2;
        }
    }
</style>