---
import BaseHead from '../../components/layout/Metadata.astro';
import Footer from '../../components/layout/Footer.astro';
import Header from '../../components/layout/TopHeader.astro';
import TextureFilter from '../../components/TextureFilter.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Cards from '../../components/Cards.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getLangFromUrl } from '../../i18n/utils';

const projects = await getCollection('projects', ({ id }) => { return id.startsWith('en/') })
const lang = getLangFromUrl(Astro.url);

---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section class="project__grid">
			{
				projects.map((project) => (
					<Cards title={ project.data.title } content={ project.data.description } img={ project.data.heroImage } slug={ getRelativeLocaleUrl(lang, `/projects/${project.slug.split('/')[1]}`) }/>
				))
			}
		</section>
	</main>
</Layout>

<style>
	.project__grid {
		display: grid;
		grid-template-columns: repeat(3, 33%);
	}
</style>