---
    import "../../styles/global.css"
---
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header class="header">
        <div class="header__title">
            <h1 class="header__title__name">ARIMA</h1>
            <div class="header__title_subtitle">
                <p class="header__title__subtitle__date">2024</p>
                <h2 class="header__title_subtitle__profession">ingeniero de software</h2>
            </div>
        </div>
        <hr>
        <div class="header__description">
            <article class="header__description__about">
                <p>¡Hola! Soy Arima, una apasionada estudiante de ingeniería de software con especial interés en el mundo del hacking ético y la seguridad informática. Mi objetivo es explorar las complejidades del ciberespacio y contribuir a un entorno en línea más seguro y sólido.</p>
            </article>
            <nav class="header__description__social">
                <a href="https://www.instagram.com/yourusername" class="large__button" target="_blank">
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                </a>
                <a href="https://github.com/yourusername" class="large__button large__button--transparent" target="_blank">
                    <ion-icon name="logo-github"></ion-icon>
                    Github
                </a>
            </nav>
        </div>        
    </header>
    
    <main>
        <section class="technologies">
            <div class="technologies__container">
                <h3 class="technologies__title">Tecnologias</h3>
                <div class="technologies__container__element technologies__container__element--right">
                    <h4 class="technologies__container__element__title">
                        Tecnologias
                        <br>
                        <span class="technologies__container__element__title--effect">WEB</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:html5"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:css3"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:javascript"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:tailwind-css"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:react"></i></li>
                        <li class="icons"><i class="iconify" data-icon="ri:nextjs-fill"></i></li>
                        
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--left">
                    <h4 class="technologies__container__element__title">
                        Desarrollo de
                        <br>
                        <span class="technologies__container__element__title--effect">SOFTWARE</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:c-plus-plus"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:java"></i></li>
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--right">
                    <h4 class="technologies__container__element__title">
                        Desarrollo y
                        <br>
                        <span class="technologies__container__element__title--effect">CONTROL DE VERSIONES</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="bxl:heroku"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:docker"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:git"></i></li>
                        <li class="icons"><i class="iconify" data-icon="bxl:github"></i></li>
                    </ul>
                </div>
                <div class="technologies__container__element technologies__container__element--left">
                    <h4 class="technologies__container__element__title">
                        Automatización y
                        <br>
                        <span class="technologies__container__element__title--effect">SCRIPTING</span>
                    </h4>
                    <ul class="technologies__container__element__icons">
                        <li class="icons"><i class="iconify" data-icon="codicon:terminal-bash"></i></li>
                        
                    </ul>
                </div>
                <hr class="technologies__container__element--end">
            </div>
            <div class="grain technologies__image__container">
                <img class="technologies__image" src="https://i.ibb.co/pwsmPFT/image.png" alt="image">
            </div>
        </section>
        
    </main>
</body>
</html>