---
import Cards from "../Cards.astro";

import { getCollection } from 'astro:content';
import { getLangFromUrl } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);

const posts = (await getCollection('blog', ({ id }) => { return id.startsWith(lang) })).slice(0, 3);
---

<section>
    <h1>
        <hr>
        BLOG POST FOR ANYTHING
        <hr>
    </h1>
    <div>
        {
            posts.map((post, index) => (<Cards title={post.data.title} content={post.data.description} img={post.data.img} on={index % 2 == 0 ? "true" : "false"} />))
        }
    </div>
</section>

<style>
    h1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 0rem;
        align-items: center;
    }
    
    hr {
        width: 30%;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    @media only screen and (min-width: 768px) {
    div {
        display: grid;
        grid-template-columns: repeat(3, 33.34%);
        gap: 0;
    }
    }
</style>