---
import TextureFilter from '../TextureFilter.astro'
import Technologies from './Technologies.astro'

import list_technologies from '../../data/technologies'


---

<section class="technologies">
    <div class="technologies__container">
        <h3 class="technologies__title">Technologies</h3>
        {
            list_technologies["en"].map((technolgy, index) =>(<Technologies {...technolgy} direction={index % 2 == 0 ? "right" : "left"}/>))
        }
        <hr>
    </div>
    <div class="technologies__image__container">
        <TextureFilter src='/portfolio/resources/images/technologies_image.png' transition="none"/>
    </div>
</section>


<style>
    .technologies__title {
        margin-bottom: 0rem;
        color: var(--contrast-text);
        background-color: var(--primary-color);
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 1rem;
        
    }
    

    .technologies__container {
        width: 100%;
    }

    .technologies__image__container {
        display: none;
    }

    hr {
        margin: 0rem;
        height: 1px;
    }

    @media only screen and (min-width: 540px) {
        .technologies__title {
            width: 100%;
            font-size: 1.5rem;
        }
    }

    @media only screen and (min-width: 768px) {
        .technologies {
            display: flex;
            flex-direction: row;
            gap: 1rem
        }
        
        .technologies__title {
            padding: 0.8rem;
            width: 60%;
            font-size: 1.5rem;
        }

        .technologies__image__container {
            display: flex;
            width: 239px;
            height: auto;
            overflow: hidden;
            object-fit: cover;
            clip-path: polygon(0 0, calc(100% - 1.5rem) 0%, 100% 1.5rem ,  100% 100%, 1.5rem 100%, 0% calc(100% - 1.5rem));
        }

        .technologies__container {
            width: 80%;
        }
    }

</style>
